body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    display: flex;
    background-color: pink;
    align-items: center;
    padding: 10px;
    color: #fff;
}
.menu-icon{
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu li{
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 600px) {
    .menu-icon {
        display: block;
    }
.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #333;
    width: 100%;
}
.menu li {
    margin-right: 0;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}
.menu li:last-child {
    border-bottom: none;
}
}