@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: conic-gradient(from -90deg at 50% 105%, white, orchid)
}

h1 {
    text-align: center;
    font-size: 40px;
    background: radial-gradient(circle, rgba(251,63,165,1) 0%, rgba(229,15,97,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    margin: 1rem;
}
h1:hover {
    font-size: 45px;
    transition: .5s;
    cursor: pointer;
}

h2{
    text-align: center;
    font-size: 32px;
    background: radial-gradient(circle, rgb(235, 160, 201) 0%, rgb(240, 133, 174) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    margin: 1rem;
}

h2:hover {
    cursor: pointer;
    transition: .5s;
}

header {
    display: flex;
    background: radial-gradient(circle, rgba(251,63,165,1) 0%, rgba(229,15,97,1) 100%);
    color: #fff;
    text-align: center;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.logo {
    width:5%;
    cursor: pointer;
}
.logo:hover {
    rotate: 20deg;
    transition: .5s;
}

nav {
    font-size: 20px;
    align-items: center;
}
nav > a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
    transition: .5s;
}
nav a:hover {
    color: #ff97bf;
    font-weight: bolder;
}
.active {
    color: #ff97bf;
    font-weight: bolder;
}

main {
    font-size: 20px;
    padding: 20px;
}

.conteiner {
    text-align: center;
    margin: 20px;
}

.conteiner p {
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
    color: #2e2e2e;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
}
.foto {
    width: 350px;
    height: 500px;
    border: 2px solid #ff5599;
}

.foto:hover {
    transform: scale(1.05);
    border-radius: 20px;
    transition: .5s;
}
.barbie-table {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    margin: 0 auto; /* Centraliza a tabela na página */
  }
table {
    border-collapse: collapse; /* Evite que o border-spacing seja aplicado */
    width: 90%; /* Define o tamanho da tabela */
    margin: 0 auto; /* Centraliza a tabela na página */
    background-color: #f7f7f7;
}
table:hover {
    transform: scale(1.05);
    transition: .5s;
}
tr:hover {
    background-color: #ffd1e2;
    color: #2e2e2e;
    cursor: pointer;
    transition: .3s;
}
th, td {
    border: 1px solid #ff5599; /* Define o tamanho e cor do borda */
    padding: 5px; /* Define o espaçamento entre o conteúdo e a borda */
}
th {
    font-size: 32px;
    font-weight: 500;
    color: #2e2e2e;
    background-color: #ff5599;
    color: #fff;
}

td {
    color: #2e2e2e;
    font-size: 28px;
    font-weight: 500;
}

.barbie-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}
    
.barbie-form h2,
.barbie-form p {
    text-align: center;
}
    
.barbie-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
.field {
    text-align: center;
    width: 100%;
    font-size: 20px;
} 
.field:hover {
    transform: scale(1.1);
    transition: .2s;
    color: #ff5599;
}
.barbie-form input,
.barbie-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.barbie-form input:hover {
    transition: .5s;
    border: 2px solid #ff5599;
}
.barbie-form textarea:hover {
    transition: .5s;
    border: 2px solid #ff5599;
}
button {
    width: 150px;
    height: 50px;
    border: 2px solid #ff5599;
    border-radius: 50px;
    color: #ff5599;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
button:hover {
    background-color: #ff5599;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #ff5599;
    border-radius: 50px;
    transition: .5s;
}
footer {
    background: radial-gradient(circle, rgba(251,63,165,1) 0%, rgba(229,15,97,1) 100%);
    color: #ffff;
    text-align: center;
    font-size: 20px;
    padding: 1rem;
}
