h1{
    background: linear-gradient(to right, #e769ce, #00ccff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background:radial-gradient(circle, rgb(241, 203, 220) 0%, rgb(227, 240, 255) 100%);
}
img {
    width: 200px;
    height: 200px;
    border: 4px solid #e9dede;
}